* {
    box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input:focus, textarea:focus {
    outline: none;
}

#staging-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
